@import url('https://fonts.cdnfonts.com/css/silian-rail-personal-use');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container{
  text-align: center;
}

#mapid{
  display: flex;
  table-layout: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  width: 500px;
}

table {
  table-layout: fixed;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 30px;
    line-height: 1.6;
    background-color: whitesmoke;
}

div#cat_code {
  color: whitesmoke;
}

div#return_picture img {
  justify-content: center;
  align-items: center;
}

div#cat_introduction {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 1px #ccc solid;
}

h2 {
  margin-top: 20px;
}

div#return_picture, button#return-btn  {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
}

button {
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  display: block;
  background: #333;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 0;
  text-align: center;
}

.card {
  margin: 20px 0;
  border: #ccc 1px solid;
  padding: 20px;
}